@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #02374F;
}
.titulo
{
    color: rgba(255, 255, 255, 0.25);
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 7px;
    transition: 0.5s;

}
.titulo:hover
{
    color: #0DFFF4;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    
}

.mensaje
{
    color: rgba(255, 255, 255, 0.25);
    font-size: 24px;
    text-transform: capitalize;
    border-radius: 7px;
    transition: 0.5s;
    text-decoration: none;



}
.mensaje:hover
{

    border-left: 1px solid #01E7DC;
    border-right: 1px solid #01E7DC;
    padding: 12px;
    color: #01E7DC;
    letter-spacing: 0.2em;
    font-family: 'Raleway', sans-serif;
}
.mensaje2
{
    color: rgba(255, 255, 255, 0.25);
    font-size: 24px;
    text-transform: capitalize;
    border-left: 1px solid #01E7DC;
    border-right: 1px solid #01E7DC;
    padding: 12px;
    color: #01E7DC;
    letter-spacing: 0.2em;
    font-family: 'Raleway', sans-serif;
}
.contenido
{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: white;
    background-color: #02374F;
    
}
.contenedor2
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;

}



.inputBox
{
    position: relative;
    width: 350px;



}
.inputBox input
{
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #02374F;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    font-family: 'Raleway', sans-serif;
    
    transition: 0.5s;
}

.inputBox span
{
    position: absolute;left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: capitalize;
    transition: 0.5s;

    
}
.inputBox input:valid ~ span, .inputBox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #02374F;
    letter-spacing: 0.2em;
    border: 1px solid #00dfc4;


}

.boton
{
    text-decoration: none; 
    color: #458582;
    border: 1px solid #458582;
    padding: 5px;
    border-radius: 7px;
    width: 150px;
    transition: 0.5s;
}

.boton:hover
{
    color: #0DFFF4;
    font-size: 18px;
    letter-spacing: 0.2em;
    font-family: 'Raleway', sans-serif;

}

.boton2
{
    text-decoration: none; 
    color: #0DFFF4;
    border: 1px solid #458582;
    padding: 5px;
    border-radius: 7px;
    width: 350px;
    font-size: 25px;
    letter-spacing: 0.2em;
    font-family: 'Raleway', sans-serif;

    
}

